.todoItem {
  border: "1px solid black";
  margin: auto;
  width: 150%;
  margin-bottom: 15px;
  margin-left: -30%;
  background-color: #f5f5e9;
}

.item {
  /*background-color: red;*/
  display: inline-block;
}

.item-complete {
  text-decoration: line-through;
}
.task {
  margin-left: 20px;
}
