html,
body,
#root,
.App {
  background: #d0e7d2;
  background-size: cover;
  opacity: 0.92;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 25%;
  margin-right: 20%;
  margin-top: 5%;
  width: 55%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  position: absolute;
  top: 1%;
  left: 1%;
  width: 7%;
  height: 8%;
}

.todoSearch {
  /*background-color: #94b89d;*/
  padding-left: 1.5%;
  width: 40%;
  border-radius: 7px;
  margin-left: 17%;
  float: left;
  display: flex;
  flex-flow: column wrap;
  height: 40px;
  margin-bottom: 20px;
}

.todoList {
  /*background-color: #2e3033;*/

  padding-top: 1%;
  padding-bottom: 6%;
  width: 50%;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 5%;

  justify-content: center;
}

.todoItem {
  border: "1px solid black";
  margin: auto;
  width: 150%;
  margin-bottom: 15px;
  margin-left: -30%;
  background-color: #f5f5e9;
}

.todoItem-complete {
  text-decoration: line-through;
}

.item {
  /*background-color: red;*/
  display: inline-block;
}

.task {
  margin-left: 20px;
}

.deleteTask {
  float: right;
}

.addTask {
  float: right;
  margin-right: 34%;
}

.footer {
  background-color: #08313a;
  color: white;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: #08313a;
}
